.cssgrid{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap:10px;
}

.details {
    border-bottom: solid darkmagenta;
    border-width: 1px;
}

.employeeDetailPicture {
    width: 388px;
}


.page-title {
    position: relative;
    left: 85px;
}